.App {
  text-align: center;
  display: flex;
  min-width: min-content;
  max-width: 100%;
  flex-wrap: wrap;
  min-height: 5rem;
  max-height: min-content;
  flex-direction: row;
  border-bottom: 3px groove #3468C0;
  gap: 2rem;
  align-items: center;
}

.input{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
