.App {
  text-align: center;
  display: flex;
  min-width: min-content;
  max-width: 100%;
  flex-wrap: wrap;
  min-height: 5rem;
  max-height: min-content;
  flex-direction: row;
  border-bottom: 3px groove #3468C0;
  gap: 2rem;
  align-items: center;
}

.input{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 5px;
  font-size: 1rem;
  outline: 2px groove rgb(255, 166, 0);
  /* outline-style: ; */
  border-radius: 12px 12px;
}

.input:focus {
  outline: 3px solid hsla(220, 100%, 50%, 80%);
  border-radius: 12px 12px;
}
